
body {
    margin:0; padding:0;
}

#menu {
    position: absolute; top: 0; bottom: 100px; right: 0; left: 0;
    padding: 10px;
}

#menu div {
    margin: 10px;
}

#map {
    position: absolute; top:100px; bottom:0; right: 50%; left:0;
}

#plot {
    position: absolute; top:100px; bottom:0; right: 0; left:50%;
}
