

/* Containers */

#tropical-cyclone-days-wrapper {
    font-family: Arial Narrow, serif;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 1200px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.flex-column {
    width: 50%;
}

/* Map */

#map-container {
    height: 100%;
    padding-left: 1%;
}

#map-info {
}

#map {
    height: 100%;
    width: 95%;
    border: 1px solid black;
}

/** Map Controls **/

#track-info-map-control {
    background-color: white;
    padding: 15px;
    line-height: 1.6;
    font-family: Arial Narrow, serif;
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 10px;
}

#track-info-map-control.hidden {
    display: none;
}

/* Graph */

#graph-container {
}

.data-tooltips .tooltip {
    width: 180px;
    height: 85px;
    font-size: 1.5em;
}

.tick text {
    fill: #595959;
}

#y-axis-title {
    font-size: 1.3em;
}

#plot .tick {
    font-size: 1.5em;
}

#graph-container {
}

#graph-title {
    height: 100px;
    font-weight: normal;
    text-align: center;
}

/* Controls */

#menu-container {
    width: 50%;
    /*justify-content: right;*/
}

#menu div {
    margin: 10px;
}

#controls-container {
    flex-direction: column;
    display: flex;
    position: relative;
}

/** Legend **/

#legend-container div {
    display: inline-block;
}

#legend-container svg {
    width: 220px;
}

#show-storm-types {
    width: 120px;
    position: relative;
    bottom: 9px;
    left: 4px;
    margin-left: 75px;
}

#show-storm-types input {
    border-radius: 3px;
    border-width: .5px;
    cursor: pointer;
    width: 100%;
    height: 26.4px;
    padding: 3px;
    background-color: #efefef;
}

#show-storm-types input:hover {
    background-color: #e5e5e5;
}

#show-storm-types input.active {
    color: #e8eaeb;
    background-color: #9ea6ab;
}

#show-storm-types input.active:hover {
    background-color: #939ba0;
}

/** Select Years **/

#year-select {
    margin-left: 80px;
}

#year-select > div {
    margin-right: 15px;
    display: inline-block;
}

#year-select .label {
    display: inline-block;
    width: 33px;
}

#year-select select {
    font-size: inherit;
    padding: 1px;
    text-align: right;
}

svg .bar {
    cursor: pointer;
}

/* Legend SVG */

      .cls-1 {
        fill: #0b539d;
      }

      .cls-2 {
        fill: #6baed6;
      }

      .cls-3 {
        fill: #c7dbee;
      }

      .cls-4, .cls-5, .cls-8 {
        fill: none;
        stroke: #010101;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 0.5px;
      }

      .cls-5 {
        stroke-dasharray: 3.2 3.2;
      }

      .cls-6 {
        font-size: 8px;
        fill: #010101;
        font-family: ArialNarrow, Arial Narrow;
      }

      .cls-7 {
        letter-spacing: -0.06em;
      }

      .cls-8 {
        stroke-dasharray: 3.2 3.2;
      }

